.footer {
  position: relative;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-top: 16px;
  padding-bottom: 16px;
}

.damage {
  font-size: 64px;
  color: var(--highlight-color);
}

.weapon__btn {
  font-size: 28px;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 70px;
  height: 70px;
  cursor: pointer;
  transition: color .3s, background-color .3s, border-color .15s;
  text-align: center;
  text-transform: uppercase;
  color: var(--main-text-color);
  border: 3px solid var(--main-text-color);
  border-radius: 50%;
  background-color: transparent;
  box-shadow: none;
}

.weapon__btn:hover {
  color: var(--highlight-color);
  background-color: var(--main-text-color);
}

.weapon__btn:active {
  border-color: var(--highlight-color);
}
